
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin:0;
    padding: 0;
}

ul{
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    gap: 1.1rem;
}

a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

.wrapper{
    width: 100%;
    background-color:black;
}

 
    



.logo{
    color: white;
    margin: -1,2rem;
    display: flex;
  
    justify-content: center;
  
    font-weight: lighter;
    font-size: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    display: flex;
    align-items: baseline;
    justify-content:center;
    background-color:white;
  width: 100%;
 margin: 0;
}

.boton-menu.active{
background-color: black;
color: white;
border-radius: 0rem;
padding: 0.5rem;
scale: 1.1;
padding: 1rem;
margin: 0;
}


.botton-carrito {
    margin-top: 10rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: black;
    font-size: .85rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
}

.boton-menu:hover{
    transform: scale(1.1);
    color:blue;
    
}


/*div de playeras*/
main{
    background-color: black;
    margin: 0;
    border-radius: 0;
    padding: 0.8rem;
    margin-left: 0;
    margin-top: -1rem;
}

.titulo-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    background-color: gray;
}

.producto-detalles{
    background-color:black;
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: white;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 1.5rem;
    cursor: pointer;
}

.producto-agregar:hover{
transform: scale(1.05);
background-color: green;
}


/**CARRITO**/
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carrito-vacio,
.carrito-comprado{
    color: green;
   
    
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem ;
}

.carrito-producto{
display: flex;
justify-content: space-between;
align-items: center;
background-color: lightgray ;
padding: .5rem;
padding-right: 1.5rem;

}

.carrito-producto-imagen{
    width: 4rem;
}

.carrito-producto small{
    font-size: 0.75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: red;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-total{
    display: flex;
    
background-color:blue;
padding: 1rem;
color: gainsboro;
text-transform: uppercase;
gap: 1rem;

}
.numerito{
    background-color: white;
    color: black;
    padding: 0.25rem;
    border-radius: 1.3rem;
}

.boton-carrito.active .numerito

.carrito-acciones-vaciar{
border: 0;
background-color: gray;
padding: 1rem;
column-rule-color: gainsboro;
text-transform: uppercase;
cursor: pointer;
}

.carrito-acciones-derecha{
    display: flex;
    
}

.carrito-acciones-comprar{
    border: 0;
    background-color: gray;
    padding: 1rem;
    column-rule-color: white;
    text-transform: uppercase;
    cursor: pointer;
    }

.disabled{
    display: none;
}